.notFoundWrapper {
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
}
.notFoundHeader {
  font-size: clamp(1.6rem, 5vw, 4rem);
  margin: 1rem auto;
  line-height: 1.5;
}

.notFoundImage {
  position: relative;
  max-width: 50%;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
  object-fit: contain;
  object-position: center;
}

.notFoundContent {
  line-height: calc(normal * 1.2);
  margin: 1.2rem auto;
}

.notFoundContent span {
  font-weight: 700;
  color: #78c0a8;
}

.notFoundContent p {
  line-height: calc(1rem + 0.5vw);
  word-break: break-word;
  text-align: justify;
}

.notFoundContent a {
  padding: 1rem 0;
  transition: color 1s ease-out;
  color: #5e412f;
  text-decoration-skip-ink: auto;
  text-decoration-line: underline;
}

.notFoundContent h3 {
  font-size: clamp(1.2rem, 3vw, 2.3rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #78c0a8;
  padding-left: 1rem;
}

@media screen and (min-width: 48em) {
  .notFoundContent {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
}
