/*Global styles for services*/

/* FOUNDERS */

.aboutBanner {
  display: flex;
  width: 100%;
  color: white;
  background-color: #dacfff;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.bannerTitle {
  margin-left: 1rem;
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 700;
}

.founderName {
  color: #78c0a8;
  text-transform: capitalize;
  font-size: clamp(1.368rem, 3.365vw, 2.3rem);
}
/* Jan */

.imageJan {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.founderTopContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  flex-direction: column;
  text-align: center;
}

.founderJRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.founderJLeftContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.founderJLeftContent {
  display: flex;
  text-align: center;
}
.founderJRightContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/*

.how-container {
  width: 100%;
  height: 21vw;
  margin-bottom: 30px; 
}

.left-container {
  float: left;
  height: 21vw;
  width: 50%;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 21vw;
  background: #fff;
  width: 50%;
  float: left;
}

.left-content {
  width: 100%;
  height: 21vw;
}

.right-content {
  max-width: 70%;
}
*/

/* Domien */

.imageDomien {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.founderBottomContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.founderDLeftContainer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.founderDRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.founderDRightContent {
  display: flex;
}
.founderDLeftContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/* MISSIE */
.containerMissie {
  display: flex;
  flex-direction: column;
}
.missieTitle {
  font-weight: 700;
  font-size: clamp(1.3rem, 4vw, 3rem);
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.missieTitle::before {
  content: "MISSIE";
  margin-right: 0.8rem;
  color: #78c0a8;
  font-size: clamp(1.6rem, 4vw, 3rem);
}

.missieTxt {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: 0.8rem;
}

.bulletsMissie {
  /*position: relative;
  font-size: clamp(0.8rem, 1.3vw, 1.5rem);
  margin-right: 1rem;
  border: 1px solid black;
  list-style-position: outside;*/
  list-style-type: none;
  position: relative;
  margin-right: 0.8rem;
  list-style-position: outside;
  display: block;
  padding-left: clamp(25px, 3vw, 48px);
  padding-bottom: 1rem;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

.bulletsMissie::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: clamp(25px, 2.5vw, 48px);
  background-image: url(../images/overOns/bulletsImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.focusMissie {
  color: #78c0a8;
  font-weight: bold;
}

/* VISIE */

.visieContainer {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 5rem;
}

.visieContainer > p {
  font-size: clamp(0.9rem, 1.7vw, 1rem);
  text-align: left;
}
.visieTitle {
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 0.8rem;
  color: #78c0a8;
  font-size: clamp(1.6rem, 4vw, 3rem);
  text-transform: uppercase;
}

.focusVisie {
  color: #78c0a8;
  font-weight: bold;
  font-size: clamp(1.2rem, 1.9vw, 1.5rem);
}

/*Different screensizes*/

@media only screen and (min-width: 750px) {
  /*JAN */
  .founderTopContainer {
    width: 100%;
    flex-direction: row;
  }

  .founderJRightContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .founderJLeftContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .founderJLeftContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .founderJRightContent {
    max-width: 75%;
  }

  /* DOMIEN */

  .founderBottomContainer {
    width: 100%;
    flex-direction: row-reverse;
  }

  .founderDLeftContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .founderDRightContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .founderDRightContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .founderDLeftContent {
    max-width: 83%;
  }
}
