/*Global styles for services*/

.containerButtons {
  min-height: 120%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}

details > * {
  z-index: 501;
  cursor: default;
  user-select: text;
  color: black;
  padding: 0.5em;
}

details[open] summary + * + ul {
  animation: fadeIn 750ms ease-in-out;
}

details span {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
}

details p {
  font-size: 0.7rem;
  position: relative;
  border: 1px dashed darkblue;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  max-height: 30vh;
  margin-right: 2rem;
  border-radius: 28px;
  max-width: 50%;
  letter-spacing: 0.5px;
  padding: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

/*image 1: missie */
.missieBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
}

.missieImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
  object-fit: contain;
  min-height: max-content;
}
.missieImage:hover,
.missieImage:focus,
.missieImage:active {
  transform: scale(1.1, 1.1);
  z-index: 500;
  opacity: 1;
  cursor: pointer;
}

.missieTxt {
  background-color: #e6e7e2;
  left: 45%;
  top: -176px;
  font-size: 0.7rem;
  position: relative;
  /*border: 1px dashed darkblue;*/
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  margin-right: 2rem;
  border-radius: 28px;
  max-width: 50%;
  letter-spacing: 0.5px;
  padding: 1rem;
  overflow: auto;
}
.missieTxt li {
  text-align: left;
  padding-bottom: 1rem;
}

/*.missieBtn:hover + .missieTxt,
.missieBtn:active + .missieTxt {
  display: flex;
  flex-wrap: wrap;
  min-width: 15vw;
  background-color: gray;
  color: white;
  z-index: 500;
  position: absolute;
  right: 10%;
  transition: all 500ms ease-in-out;
}*/

/*image 2: visie*/
.visieBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  top: 20vh;
}

.visieImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
  object-fit: contain;
}

.visieImage:hover,
.visieImage:focus {
  transform: scale(1.1, 1.1);
  z-index: 5;
  cursor: pointer;
}

.visieTxt {
  background-color: #cca09c;
}

/*image 3: Jan */
.founderJBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  top: 37.5vh;
}

.founderJImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
}

.founderJImage:hover,
.founderJImage:focus {
  transform: scale(1.1, 1.1);
  z-index: 5;
  cursor: pointer;
}

.founderJTxt {
  background-color: #a9d18e;
  left: 52%;
  top: -210px;
  font-size: 0.7rem;
  position: relative;
  border: 1px dashed darkblue;
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  margin-right: 2rem;
  border-radius: 28px;
  max-width: 50%;
  letter-spacing: 0.5px;
  padding: 1rem;
  overflow: auto;
}
.founderJTxt li {
  text-align: left;
  padding-bottom: 0.7rem;
}

/*image 4: Domien */
.founderDBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  top: 65.9vh;
}

.founderDImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
}

.founderDImage:hover,
.founderDImage:focus {
  transform: scale(1.1, 1.1);
  z-index: 5;
  cursor: pointer;
}

.founderDTxt {
  background-color: #85bd5f;
  top: -210px;
  font-size: 0.7rem;
  position: relative;
  border: 1px dashed darkblue;
  display: flex;
  flex-direction: column;
  max-height: 20vh;
  margin-right: 2rem;
  border-radius: 28px;
  max-width: 50%;
  letter-spacing: 0.5px;
  padding: 1rem;
  overflow: auto;
}
.founderDTxt li {
  text-align: left;
  padding-bottom: 0.7rem;
}
/*Different screensizes*/

@media only screen and (min-width: 750px) {
  .missieBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }
  .visieBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }

  .founderJBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }

  .founderDBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }

  .visualsBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
  }
}
