/* BANNER */
.aboutBanner {
  display: flex;
  width: 100%;
  color: white;
  background-color: #dacfff;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.bannerTitle {
  margin-left: 1rem;
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 700;
}

/*------------------------------------------*/

.contactWrapper {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  line-height: normal;
  margin-bottom: 3rem;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  background-color: #78c0a8;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0.5rem;
  width: 100%;
  min-height: 30vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.contactInfo h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.contactInfo:last-child {
  margin-bottom: 5rem;
}

.btnAppointment {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: #f07818;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: transform 300ms ease-in-out;
  transform: scale(1);
}

.btnAppointment a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.btnAppointment:hover {
  transform: scale(1.2);
  transition: transform 300ms ease-in-out;
}

.contactInfo p {
  padding: 0;
}

iframe {
  min-height: 50vh;
  margin-bottom: 1rem;
  min-width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

p {
  margin: 0.8rem;
}

.address {
  margin: 1rem;
  color: #5e412f;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin-bottom: 2rem;
}
.contactJan {
  margin: 0;
}

.contactDomien {
  margin: 0;
  margin-bottom: 1rem;
}

.maps {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .contactWrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  .contactInfo {
    width: clamp(20%, 50%, 50%);
    margin-right: 0;
  }

  .maps {
    display: flex;
    width: clamp(20%, 50%, 50%);
    margin-left: 0;

    border: red solid 2px;
  }

  iframe {
    display: flex;
  }
}
