@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --backgroundclr: #e6e7e2;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  scroll-behavior: smooth;
}

main {
  flex: 1 0 auto;
  min-height: 100%;
}

header {
  background-color: var(--backgroundclr);
  text-align: center;
  /* z-index: 9999;*/
  width: 100%;
  position: fixed;
  top: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  background: var(--backgroundclr);
  line-height: 1.5;
}

footer {
  bottom: 0;
}
