@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

main {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  background: radial-gradient(circle at center, #2b2b2b, #414141);
}

p {
  margin: 1rem auto;
  line-height: 1rem;
}
