.privacyWrapper {
  margin-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  /*font-size: clamp(1.2rem, 3vw, 2.3rem);*/
}
.privacyHeader {
  font-size: clamp(1.6rem, 5vw, 4rem);
  margin: 1rem auto;
  line-height: 1.5;
}
.privacySubtitle {
  font-size: clamp(1.2rem, 3vw, 2.3rem);
}
.privacyContent h3 {
  text-transform: uppercase;
  font-size: clamp(0.9rem, 2vw, 2.3rem);
}

.privacyContent {
  line-height: calc(normal * 1.2);
}

.privacyContent p {
  line-height: calc(1rem + 0.5vw);
  word-break: break-word;
  text-align: justify;
  margin: 0;
  font-size: clamp(0.895rem, 2vw, 1.3rem);
}

.privacyContent a {
  padding: 1rem 0;
  transition: color 1s ease-out;
  color: #5e412f;
  text-decoration-skip-ink: auto;
  text-decoration-line: underline;
  text-transform: inherit;
}
.privacyContent span {
  color: #5e412f;
}
.privacyContent li {
  list-style: disc;
  text-align: justify;
  font-size: clamp(0.895rem, 2vw, 1.3rem);
}

@media only screen and (min-width: 55rem) {
  .privacyContent {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
}

@media only screen and (min-width: 1500px) {
  .privacyWrapper {
    flex-direction: column;
  }
}
