.containerButtons {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*image 1 */
.brainfoodBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
}

.brainfoodImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
  object-fit: contain;
  min-height: max-content;
}
.brainfoodImage:hover,
.brainfoodImage:focus {
  transform: scale(1.3, 1.3);
  z-index: 500;
  opacity: 1;
}
.brainfoodTxt {
  display: none;
}
/*image 2 */
.journeyBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  z-index: 10;
  top: 17vh;
}

.journeyImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
  object-fit: contain;
}

.journeyImage:hover,
.journeyImage:focus {
  transform: scale(1.3, 1.3);
  z-index: 5;
}

/*image 3 */
.projectBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  top: 32vh;
}

.projectImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
}

.projectImage:hover,
.projectImage:focus {
  transform: scale(1.3, 1.3);
  z-index: 5;
}

/*image 4 */
.speakerBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  top: 48vh;
}

.speakerImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
}
.speakerImage:hover,
.speakerImage:focus {
  transform: scale(1.3, 1.3);
  z-index: 5;
}

/*image 5 */
.visualsBtn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  align-self: center;
  top: 65vh;
}

.visualsImage {
  background-size: contain;
  transition: transform 150ms ease-in-out;
}

.visualsImage:hover,
.visualsImage:focus {
  transform: scale(1.3, 1.3);
  z-index: 5;
}

footer {
  margin-top: 0;
}

@media only screen and (min-width: 750px) {
  .brainfoodBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }
  .journeyBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }

  .projectBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }

  .speakerBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    align-self: center;
  }

  .visualsBtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
  }
}
