/*Global styles for services*/

/* BANNER */
.aboutBanner {
  display: flex;
  width: 100%;
  color: white;
  background-color: #dacfff;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.bannerTitle {
  margin-left: 1rem;
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 700;
}

.serviceName {
  color: #78c0a8;
  text-transform: capitalize;
  font-size: clamp(1.368rem, 3.365vw, 2.3rem);
}

/* GENERAL */

/* BRAINFOOD */

.imageBrainfood {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.BrainfoodContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.BrainfoodRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.BrainfoodLeftContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.BrainfoodLeftContent {
  display: flex;
  text-align: center;
}
.BrainfoodRightContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/* JOURNEY */

.imageJourney {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.JourneyContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.JourneyLeftContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.JourneyRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.JourneyRightContent {
  display: flex;
}
.JourneyLeftContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/* PROJECT */

.imageProjects {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ProjectsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  flex-direction: column;
  text-align: center;
}

.ProjectsRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.ProjectsLeftContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ProjectsLeftContent {
  display: flex;
  text-align: center;
}
.ProjectsRightContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/* SPEAKER */

.imageSpeaker {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.SpeakerContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.SpeakerLeftContainer {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.SpeakerRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.SpeakerRightContent {
  display: flex;
}
.SpeakerLeftContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/* VISUALS */

.imageVisuals {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.VisualsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  flex-direction: column;
  text-align: center;
}

.VisualsRightContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.VisualsLeftContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.VisualsLeftContent {
  display: flex;
  text-align: center;
}
.VisualsRightContent {
  max-width: 75%;
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

/*Different screensizes*/

@media only screen and (min-width: 750px) {
  /*BRAINFOOD */

  .BrainfoodContainer {
    width: 100%;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .BrainfoodRightContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .BrainfoodLeftContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .BrainfoodLeftContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .BrainfoodRightContent {
    max-width: 75%;
  }

  /* JOURNEY */

  .JourneyContainer {
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
  }

  .JourneyLeftContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .JourneyRightContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .JourneyRightContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .JourneyLeftContent {
    max-width: 83%;
  }

  /*PROJECTS */
  .ProjectsContainer {
    width: 100%;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .ProjectsRightContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .ProjectsLeftContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .ProjectsLeftContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .ProjectsRightContent {
    max-width: 75%;
  }

  /* SPEAKER */

  .SpeakerContainer {
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 5rem;
  }

  .SpeakerLeftContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .SpeakerRightContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .SpeakerRightContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .SpeakerLeftContent {
    max-width: 83%;
  }

  /* VISUALS */

  .VisualsContainer {
    width: 100%;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .VisualsRightContainer {
    flex-basis: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .VisualsLeftContainer {
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }

  .VisualsLeftContent {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .VisualsRightContent {
    max-width: 75%;
  }
}
