/* navbar */

/*header {
  /* background-color: rgba(2, 91, 14, 0.9);*/
/* background-color: #2b2b2b;
  background: var(--backgroundclr)
  text-align: center;
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  margin-left: 0; 
} */
:root {
  --accentClr: "#78C0A8";
}

header {
  margin-bottom: 3rem;
  z-index: 9999;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logoName {
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #78c0a8;
  font-weight: 600;
}

.navToggle {
  display: none;
}
.navToggleLabel {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
  display: flex;
  background-color: black;
  height: 2px;
  width: 1rem;
  border-radius: 3px;
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navToggleLabel span::before,
.navToggleLabel span::after {
  content: " ";
  position: absolute;
}

.navToggleLabel span::before {
  top: 6px;
}

.navToggleLabel span::after {
  bottom: 6px;
}

/*animating burger */
.navToggle:checked ~ .navToggleLabel span {
  background-color: transparent;
}

.navToggle:checked ~ .navToggleLabel span::before {
  top: 0;
  transform: rotate(45deg);
}

.navToggle:checked ~ .navToggleLabel span::after {
  top: 0;
  transform: rotate(-45deg);
}

/*                        */

nav {
  position: absolute;
  text-align: right;
  top: 100%;
  right: 0;
  /*background-color: rgba(2, 91, 14, 0.9);*/
  background-color: #e6e7e2;
  opacity: 0.9;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: lowercase;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

nav a:hover {
  color: #78c0a8;
  transition: color 350ms ease-in-out;
}

.navToggle:checked ~ nav {
  transform: scale(1, 1);
}

.navToggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 150ms;
}

@media only screen and (min-width: 650px) {
  .navToggleLabel {
    display: none;
  }
  header {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  nav {
    grid-column: 3 / 4;
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::after {
    content: " ";
    display: flex;
    height: 2px;
    background-color: black;
    position: relative;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
  }

  nav a:hover::after {
    transform: scale(1, 1);
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 2rem;
  }
}
