footer {
  background-color: #2b2b2b;
  font-size: smaller;
  opacity: 0.98;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
  bottom: 0;
  color: whitesmoke;
}

.icon {
  margin-right: 0.5rem;
}

footer:last-child {
  bottom: 0;
}

footer p {
  line-height: normal;
}

footer p:last-child {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  font-weight: 200;
}
