footer {
  background-color: #2b2b2b;
  font-size: smaller;
  opacity: 0.98;
  padding: 1rem;
  width: 100%;
  margin-top: auto;
  bottom: 0;
  color: whitesmoke;
}

.icon {
  margin-right: 0.5rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.leftFooter:last-child {
  bottom: 0;
}

footer p {
  line-height: normal;
}

.leftFooter p:last-child {
  margin-top: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0;
  font-weight: 200;
}

.rightFooter {
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: row;
}

footer ul {
  list-style: none;
  text-align: left;
}

footer a {
  text-decoration: none;
  color: white;
  text-align: left;
}
